/* src/components/Cart.css */
.cart-page {
    padding: 20px;
  }
  
  .cart-page h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .cart-page p {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  .cart-page ul {
    list-style-type: none;
    padding: 0;
  }
  
  .cart-page ul li {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button + button {
    margin-left: 10px;
  }
  